<!--  
		<*********** BY BRANDEN ODEN ************>
-->

<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
  </head>
  <body>
	<header class="top-bar">
		<H1>- PLAYING CARDS -</H1>

		<ul class="nav nav-pills centered-pills">
			<li ng-class="{active:activeTab === getLocTab('deck')}">
  				<a ng-click="activeTab = getLocTab('deck')" href=#{{getLocPath('deck')}}>Deck</a>
  			</li>
			<li ng-class="{active:activeTab === getLocTab('hand')}">
				<a ng-click="activeTab = getLocTab('hand')" href=#{{getLocPath('hand')}}>Hand</a>
			</li>
  			<li ng-class="{active:activeTab === getLocTab('about')}">
  				<a ng-click="activeTab = getLocTab('about')" href=#{{getLocPath('about')}}>About</a>
  			</li>
		</ul>

		<div ng-view>
			<!-- spa content injected here -->
		</div>

	</header>

	<script type="text/javascript" src="js/angular.min.js"/></script>
	<script type="text/javascript" src="js/angular-route.min.js"/></script>
	<script type="text/javascript" src="js/modules/about.js"/></script>
    <script type="text/javascript" src="js/modules/hand.js"/></script>
    <script type="text/javascript" src="js/modules/deck.js"/></script>
    <script type="text/javascript" src="js/modules/app.js"/></script>
    <script type="text/javascript" src="js/controllers/about-controller.js"/></script>
    <script type="text/javascript" src="js/controllers/hand-controller.js"/></script>
    <script type="text/javascript" src="js/controllers/deck-controller.js"/></script>
    <script type="text/javascript" src="js/controllers/app-controller.js"/></script>
  </body>
</html>